/* Meyer reset 2.0 -- a css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------*/
* {
  background-color: #eeedeb;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #2f3645;
  padding: 1rem 0;
  border-bottom: 0.11rem solid black;
}

#header > h1 {
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  color: #eeedeb;
}

#header > button {
  box-sizing: border-box;
  margin-right: 3vw;
  margin-left: 3vw;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  transition: all 250ms;
}

#header > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #eeedeb;
  border: none;
}

#addBookDialog,
#removeBookDialog {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.01rem #939185;
  padding: 0;
  background-color: #2f3645;
  max-height: 50vh;
  max-width: 95vw;
  margin-top: 35vh;
}

#addBookDialog > form,
#removeBookDialog > form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: #2f3645;
  color: #eeedeb;
}

#removeBookDialog > form > div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

#removeBookDialog > form > div > div {
  background-color: transparent;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

#removeBookDialog > form > div > div > div {
  background-color: transparent;
}

#removeBookDialog > form > div > div > div > input {
  border: 0.1rem solid black;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  height: 1.8rem;
  min-height: auto;
  min-width: auto;
}

#addBookDialog > form > div {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  box-sizing: border-box;
}

#addBookDialog > form > div > label,
#radioDiv > div > label {
  font-size: 1.3rem;
  background-color: transparent;
}

#addBookDialog > form > div > input {
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  height: 1.8rem;
  min-height: auto;
  min-width: auto;
  font-size: 1.2rem;
}

#radioDiv > div {
  background-color: transparent;
}

#addBookDialog > form > div > button,
#removeBookDialog > form > div > div > button {
  margin: 0.5rem 3rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #183d3d;
  transition: all 250ms;
  box-sizing: border-box;
}

#addBookDialog > form > div > button:hover,
#removeBookDialog > form > div > div > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0.1rem #eeedeb;
  border: 0.004rem solid black;
}

#addBookDialog::backdrop,
#removeBookDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/*-------------------------*/

#bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  background-color: #2f3645;
  color: #eeedeb;
  box-sizing: border-box;
  box-shadow: 0 0 3rem 0.1rem #2f3645;
}

.card > div {
  background-color: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cardHeading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  letter-spacing: 0.105rem;
}

.cardContent {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.cardHeading0 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
